module.exports = {
  chainWebpack: (config) => {
    config.module
      .rule('graphql')
      .test(/\.(graphql|gql)$/)
      .use('graphql-tag/loader')
      .loader('graphql-tag/loader')
      .end()
  },
}

*** Web Pack loader for graphql gql files ***

** Need to find out if something like this work with Vite ***